@import "./lib/normalize.scss";
@import "./lib/flexboxgrid.scss";
@import "./lib/swiper.scss";
@import "./lib/plyr.scss";
@import "./fonts.scss";

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

::-webkit-input-placeholder { /* Edge */
    color: rgba(255,255,255,0.4);
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgba(255,255,255,0.4);
}

::placeholder {
    color: rgba(255,255,255,0.4);
}